In [1]:
import sys
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pylab as pl
np.set_printoptions(threshold=sys.maxsize)

In [2]:
data = pd.read_csv("D:/Project/DS Personal/KingCounty/kc_house_data.csv")
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [3]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [4]:
data = data.drop(columns = ['id', 'lat', 'long', 'zipcode'])
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509
21609,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200
21610,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007
21611,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287
21612,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357

In [5]:
data['date'] = data['date'].str[:8]
data['date'] = pd.to_datetime(data['date'], format='%Y%m%d')
data['date'] = data['date'].dt.year
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509
21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200
21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007
21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287
21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357

In [6]:
for i in data.yr_renovated:
    if i == 0:
        data.yr_renovated = data.yr_built;
        
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1955,1340,5650
1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1951,1690,7639
2,2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,1933,2720,8062
3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1965,1360,5000
4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1987,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,2009,1530,1509
21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,2014,1830,7200
21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,2009,1020,2007
21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,2004,1410,1287
21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,2008,1020,1357

Deleting Outliers

Any value below Q1-1.5*IQR or above Q3+1.5*IQR is an Outlier

In [7]:
data.describe()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
count,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,2014.322954,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,1971.005136,1986.552492,12768.455652
std,0.467616,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,29.373411,685.391304,27304.179631
min,2014.000000,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,1900.000000,399.000000,651.000000
25%,2014.000000,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,1951.000000,1490.000000,5100.000000
50%,2014.000000,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,1975.000000,1840.000000,7620.000000
75%,2015.000000,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,1997.000000,2360.000000,10083.000000
max,2015.000000,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,6210.000000,871200.000000

In [8]:
#IQR = Q3 - Q1

iqr = np.percentile(data.price, 75) - np.percentile(data.price, 25)

low =  np.percentile(data.price, 25) - 1.5*iqr

high = np.percentile(data.price, 75) + 1.5*iqr

data = data[data['price'] > low] 
data = data[data['price'] < high] 
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1955,1340,5650
1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1951,1690,7639
2,2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,1933,2720,8062
3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1965,1360,5000
4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1987,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,2009,1530,1509
21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,2014,1830,7200
21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,2009,1020,2007
21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,2004,1410,1287
21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,2008,1020,1357

In [9]:
iqr = np.percentile(data.bedrooms, 75) - np.percentile(data.bedrooms, 25)

low =  np.percentile(data.bedrooms, 25) - 1.5*iqr

high = np.percentile(data.bedrooms, 75) + 1.5*iqr

data = data[data['bedrooms'] > low] 
data = data[data['bedrooms'] < high] 
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1955,1340,5650
1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1951,1690,7639
2,2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,1933,2720,8062
3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1965,1360,5000
4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1987,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,2009,1530,1509
21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,2014,1830,7200
21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,2009,1020,2007
21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,2004,1410,1287
21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,2008,1020,1357

In [10]:
iqr = np.percentile(data.sqft_living, 75) - np.percentile(data.sqft_living, 25)

low =  np.percentile(data.sqft_living, 25) - 1.5*iqr

high = np.percentile(data.sqft_living, 75) + 1.5*iqr

data = data[data['sqft_living'] > low] 
data = data[data['sqft_living'] < high] 
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1955,1340,5650
1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1951,1690,7639
2,2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,1933,2720,8062
3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1965,1360,5000
4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1987,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,2009,1530,1509
21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,2014,1830,7200
21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,2009,1020,2007
21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,2004,1410,1287
21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,2008,1020,1357

In [11]:
iqr = np.percentile(data.sqft_lot, 75) - np.percentile(data.sqft_lot, 25)

low =  np.percentile(data.sqft_lot, 25) - 1.5*iqr

high = np.percentile(data.sqft_lot, 75) + 1.5*iqr

data = data[data['sqft_lot'] > low] 
data = data[data['sqft_lot'] < high] 
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1955,1340,5650
1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1951,1690,7639
2,2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,1933,2720,8062
3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1965,1360,5000
4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1987,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,2009,1530,1509
21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,2014,1830,7200
21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,2009,1020,2007
21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,2004,1410,1287
21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,2008,1020,1357

In [12]:
iqr = np.percentile(data.sqft_above, 75) - np.percentile(data.sqft_above, 25)

low =  np.percentile(data.sqft_above, 25) - 1.5*iqr

high = np.percentile(data.sqft_above, 75) + 1.5*iqr

data = data[data['sqft_above'] > low] 
data = data[data['sqft_above'] < high] 
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1955,1340,5650
1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1951,1690,7639
2,2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,1933,2720,8062
3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1965,1360,5000
4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1987,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,2009,1530,1509
21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,2014,1830,7200
21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,2009,1020,2007
21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,2004,1410,1287
21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,2008,1020,1357

In [13]:
iqr = np.percentile(data.sqft_living15, 75) - np.percentile(data.sqft_living15, 25)

low =  np.percentile(data.sqft_living15, 25) - 1.5*iqr

high = np.percentile(data.sqft_living15, 75) + 1.5*iqr

data = data[data['sqft_living15'] > low] 
data = data[data['sqft_living15'] < high] 
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1955,1340,5650
1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1951,1690,7639
2,2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,1933,2720,8062
3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1965,1360,5000
4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1987,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,2009,1530,1509
21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,2014,1830,7200
21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,2009,1020,2007
21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,2004,1410,1287
21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,2008,1020,1357

In [14]:
iqr = np.percentile(data.sqft_lot15, 75) - np.percentile(data.sqft_lot15, 25)

low =  np.percentile(data.sqft_lot15, 25) - 1.5*iqr

high = np.percentile(data.sqft_lot15, 75) + 1.5*iqr

data = data[data['sqft_lot15'] > low] 
data = data[data['sqft_lot15'] < high] 
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1955,1340,5650
1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1951,1690,7639
2,2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,1933,2720,8062
3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1965,1360,5000
4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1987,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,2009,1530,1509
21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,2014,1830,7200
21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,2009,1020,2007
21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,2004,1410,1287
21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,2008,1020,1357

Regression

In [15]:
data.corr()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
date,1.000000,0.010326,-0.008752,-0.033124,-0.029547,0.001394,-0.019570,-0.009413,0.006215,-0.050402,-0.034757,-0.024292,-0.011529,0.002091,0.002091,-0.012438,-0.000373
price,0.010326,1.000000,0.237457,0.367275,0.534524,-0.074644,0.219596,0.061375,0.243897,0.085051,0.549962,0.397016,0.271904,-0.053798,-0.053798,0.451710,-0.091614
bedrooms,-0.008752,0.237457,1.000000,0.454314,0.608193,0.210560,0.119285,-0.000288,0.033627,0.034819,0.287163,0.469298,0.283164,0.142797,0.142797,0.389446,0.199548
bathrooms,-0.033124,0.367275,0.454314,1.000000,0.679316,-0.069281,0.503130,0.012140,0.082679,-0.133259,0.577418,0.592905,0.213702,0.543626,0.543626,0.494160,-0.079985
sqft_living,-0.029547,0.534524,0.608193,0.679316,1.000000,0.184784,0.292174,0.017047,0.157660,-0.040074,0.622865,0.796074,0.429094,0.297584,0.297584,0.695949,0.161682
sqft_lot,0.001394,-0.074644,0.210560,-0.069281,0.184784,1.000000,-0.409915,0.034370,0.033732,0.136907,-0.012685,0.129705,0.105254,-0.077412,-0.077412,0.227569,0.875923
floors,-0.019570,0.219596,0.119285,0.503130,0.292174,-0.409915,1.000000,0.002524,-0.015513,-0.277605,0.452014,0.525682,-0.312068,0.510854,0.510854,0.222917,-0.420884
waterfront,-0.009413,0.061375,-0.000288,0.012140,0.017047,0.034370,0.002524,1.000000,0.236794,0.004246,0.002387,0.005340,0.019600,-0.019838,-0.019838,0.026151,0.034591
view,0.006215,0.243897,0.033627,0.082679,0.157660,0.033732,-0.015513,0.236794,1.000000,0.031036,0.117645,0.044203,0.189001,-0.081909,-0.081909,0.182036,0.031910
condition,-0.050402,0.085051,0.034819,-0.133259,-0.040074,0.136907,-0.277605,0.004246,0.031036,1.000000,-0.166040,-0.170256,0.189299,-0.363523,-0.363523,-0.100303,0.144627
grade,-0.034757,0.549962,0.287163,0.577418,0.622865,-0.012685,0.452014,0.002387,0.117645,-0.166040,1.000000,0.629542,0.067727,0.468829,0.468829,0.590149,-0.013418
sqft_above,-0.024292,0.397016,0.469298,0.592905,0.796074,0.129705,0.525682,0.005340,0.044203,-0.170256,0.629542,1.000000,-0.205062,0.442677,0.442677,0.665509,0.111499
sqft_basement,-0.011529,0.271904,0.283164,0.213702,0.429094,0.105254,-0.312068,0.019600,0.189001,0.189299,0.067727,-0.205062,1.000000,-0.179433,-0.179433,0.132239,0.095065
yr_built,0.002091,-0.053798,0.142797,0.543626,0.297584,-0.077412,0.510854,-0.019838,-0.081909,-0.363523,0.468829,0.442677,-0.179433,1.000000,1.000000,0.318944,-0.060067
yr_renovated,0.002091,-0.053798,0.142797,0.543626,0.297584,-0.077412,0.510854,-0.019838,-0.081909,-0.363523,0.468829,0.442677,-0.179433,1.000000,1.000000,0.318944,-0.060067
sqft_living15,-0.012438,0.451710,0.389446,0.494160,0.695949,0.227569,0.222917,0.026151,0.182036,-0.100303,0.590149,0.665509,0.132239,0.318944,0.318944,1.000000,0.241983
sqft_lot15,-0.000373,-0.091614,0.199548,-0.079985,0.161682,0.875923,-0.420884,0.034591,0.031910,0.144627,-0.013418,0.111499,0.095065,-0.060067,-0.060067,0.241983,1.000000

In [16]:
data.shape

(16553, 17)

In [17]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, SGDRegressor
from sklearn.model_selection import train_test_split

In [18]:
target = data.price
target

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 16553, dtype: float64

In [19]:
train = data.drop(['price'], axis = 1)
train

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,2014,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1955,1340,5650
1,2014,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1951,1690,7639
2,2015,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,1933,2720,8062
3,2014,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1965,1360,5000
4,2015,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1987,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,2009,1530,1509
21609,2015,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,2014,1830,7200
21610,2014,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,2009,1020,2007
21611,2015,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,2004,1410,1287
21612,2014,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,2008,1020,1357

In [20]:
vs_train, vs_test, vs_target_train, vs_target_test = train_test_split(train, target, test_size=0.2, random_state=33)

In [21]:
vs_target_train

12046    350500.0
12131    219950.0
10807    729000.0
11783    370000.0
11795    688888.0
           ...
13663    360000.0
66       975000.0
754      850000.0
7667     220000.0
3191     555000.0
Name: price, Length: 13242, dtype: float64

In [22]:
x = vs_train
y = vs_target_train

In [23]:
linreg = LinearRegression()

# Train the model using the training sets
linreg.fit(x,y)

LinearRegression()

In [24]:
print (linreg.predict(x[:10]))

[328861.8097722  333228.0625901  656742.06136487 299409.1195111
 718734.23258097 464144.34735078 527241.81202705 495108.91652786
 584631.19166442 468183.84052979]

In [25]:
# Compute RMSE on training data
p = linreg.predict(x)

# Now we can constuct a vector of errors
err = abs(p-y)

# Let's see the error on the first 10 predictions
print (err[:10])

12046     21638.190228
12131    113278.062590
10807     72257.938635
11783     70590.880489
11795     29846.232581
4784       5855.652649
13789    224741.812027
6943     154891.083472
9098      49631.191664
7468      53183.840530
Name: price, dtype: float64

In [26]:
# Dot product of error vector with itself gives us the sum of squared errors
total_error = np.dot(err,err)

# Compute RMSE
rmse_train = np.sqrt(total_error/len(p))
print (rmse_train)
print(round(rmse_train,2))

127325.4856232292
127325.49

In [27]:
x = np.array(vs_train)
y = np.array(vs_target_train)

In [28]:
features = list(train.columns)

for i in range(len(features)):
    print("Feature: %s, Regression Coefficient is: %s" % (features[i], linreg.coef_[i]))

Feature: date, Regression Coefficient is: 17156.036635267348
Feature: bedrooms, Regression Coefficient is: -14050.986415737796
Feature: bathrooms, Regression Coefficient is: 18483.930906393565
Feature: sqft_living, Regression Coefficient is: 59.354944503739404
Feature: sqft_lot, Regression Coefficient is: -3.891699568740699
Feature: floors, Regression Coefficient is: 26811.69988420792
Feature: waterfront, Regression Coefficient is: 153080.2543024578
Feature: view, Regression Coefficient is: 23344.58153397969
Feature: condition, Regression Coefficient is: 22444.807645181623
Feature: grade, Regression Coefficient is: 99246.71465843436
Feature: sqft_above, Regression Coefficient is: 14.32671724724847
Feature: sqft_basement, Regression Coefficient is: 45.02822724729621
Feature: yr_built, Regression Coefficient is: -1337.7686472143826
Feature: yr_renovated, Regression Coefficient is: -1337.768647214237
Feature: sqft_living15, Regression Coefficient is: 57.52634892602775
Feature: sqft_lot15, Regression Coefficient is: -6.7318499675489925

In [29]:
from sklearn.model_selection import KFold

#performing 10-fold cross-validation to compute RMSE 

n = 10
#kf = KFold(len(x),n_splits=n)

kf = KFold(n_splits=n)
kf.get_n_splits(x)

#print(kf)  
#KFold(n_splits=n,random_state=None, shuffle=False)
 

xval_err = 0
#or train,test in kf:
for train, test in kf.split(x):
    linreg.fit(x[train],y[train])
    p = linreg.predict(x[test])
    e = p-y[test]
    xval_err += np.sqrt(np.dot(e,e)/len(x[test]))
       
rmse_10cv = xval_err/n

In [30]:
method_name = 'Simple Linear Regression'
print('Method: %s' %method_name)
print('RMSE on training: %.4f' %rmse_train)
print('RMSE on 10-fold CV: %.4f' %rmse_10cv)

Method: Simple Linear Regression
RMSE on training: 127325.4856
RMSE on 10-fold CV: 127516.8440

In [31]:
#Ridge Regression

print('Ridge Regression')
print('alpha\t RMSE_train\t RMSE_10cv\n')
alpha = np.linspace(.01,20,50)
t_rmse = np.array([])
cv_rmse = np.array([])

for a in alpha:
    ridge = Ridge(alpha=a)
    
    # computing the RMSE on training data
    ridge.fit(x,y)
    p = ridge.predict(x)
    err = p-y
    total_error = np.dot(err,err)
    rmse_train = np.sqrt(total_error/len(p))

    kf = KFold(n_splits=10)
    kf.get_n_splits(x)
 
    KFold(n_splits=10,random_state=None, shuffle=False)
    # computing RMSE using 10-fold cross validation
    #kf = KFold(len(x), n_folds=10)
    xval_err = 0
    for train, test in kf.split(x):
        ridge.fit(x[train], y[train])
        p = ridge.predict(x[test])
        err = p - y[test]
        xval_err += np.sqrt(np.dot(err,err)/len(x[test]))
    rmse_10cv = xval_err/n
    
    t_rmse = np.append(t_rmse, [rmse_train])
    cv_rmse = np.append(cv_rmse, [rmse_10cv])
    print('{:.3f}\t {:.4f}\t\t {:.4f}'.format(a,rmse_train,rmse_10cv))

Ridge Regression
alpha	 RMSE_train	 RMSE_10cv

0.010	 127325.4857		 127516.8373
0.418	 127325.5666		 127516.6997
0.826	 127325.7849		 127516.7940
1.234	 127326.1185		 127517.0764
1.642	 127326.5491		 127517.5113
2.050	 127327.0608		 127518.0694
2.458	 127327.6403		 127518.7269
2.866	 127328.2763		 127519.4641
3.274	 127328.9589		 127520.2646
3.682	 127329.6799		 127521.1151
4.090	 127330.4322		 127522.0045
4.498	 127331.2096		 127522.9233
4.906	 127332.0070		 127523.8639
5.313	 127332.8197		 127524.8198
5.721	 127333.6440		 127525.7857
6.129	 127334.4766		 127526.7571
6.537	 127335.3145		 127527.7303
6.945	 127336.1553		 127528.7021
7.353	 127336.9969		 127529.6701
7.761	 127337.8375		 127530.6320
8.169	 127338.6756		 127531.5861
8.577	 127339.5098		 127532.5310
8.985	 127340.3391		 127533.4655
9.393	 127341.1623		 127534.3886
9.801	 127341.9788		 127535.2997
10.209	 127342.7879		 127536.1981
10.617	 127343.5890		 127537.0833
11.025	 127344.3816		 127537.9550
11.433	 127345.1653		 127538.8130
11.841	 127345.9399		 127539.6571
12.249	 127346.7050		 127540.4873
12.657	 127347.4605		 127541.3035
13.065	 127348.2063		 127542.1058
13.473	 127348.9422		 127542.8941
13.881	 127349.6682		 127543.6687
14.289	 127350.3843		 127544.4296
14.697	 127351.0904		 127545.1770
15.104	 127351.7866		 127545.9112
15.512	 127352.4729		 127546.6322
15.920	 127353.1493		 127547.3403
16.328	 127353.8161		 127548.0357
16.736	 127354.4731		 127548.7187
17.144	 127355.1206		 127549.3894
17.552	 127355.7587		 127550.0481
17.960	 127356.3874		 127550.6951
18.368	 127357.0069		 127551.3306
18.776	 127357.6174		 127551.9548
19.184	 127358.2188		 127552.5680
19.592	 127358.8115		 127553.1703
20.000	 127359.3956		 127553.7622

In [32]:
#displaying RMSE on training and RMSE of 10-fold cross
#you can see the values are similar but they are very high

a = 0.3
for name,met in [
        ('linear regression', LinearRegression()),
        ('lasso', Lasso(fit_intercept=True, alpha=a)),
        ('ridge', Ridge(fit_intercept=True, alpha=a)),
        ('elastic-net', ElasticNet(fit_intercept=True, alpha=a))
        ]:
    met.fit(x,y)
    p = met.predict(x)
    e = p-y
    total_error = np.dot(e,e)
    rmse_train = np.sqrt(total_error/len(p))

    #kf = KFold(len(x), n_folds=10)
    kf = KFold(n_splits=10)
    kf.get_n_splits(x)

    KFold(n_splits=n,random_state=None, shuffle=False)
    err = 0
    for train,test in kf.split(x):
        met.fit(x[train],y[train])
        p = met.predict(x[test])
        e = p-y[test]
        err += np.dot(e,e)
    rmse_10cv = np.sqrt(err/len(x))
    
    print('Method: %s' %name)
    print('RMSE on training: %.4f' %rmse_train)
    print('RMSE on 10-fold CV: %.4f' %rmse_10cv)
    print ("\n")

Method: linear regression
RMSE on training: 127325.4856
RMSE on 10-fold CV: 127541.2175

C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 55865914307908.125, tolerance: 48125493559.93367
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50583978137587.58, tolerance: 43280701050.52506
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50038962265147.336, tolerance: 43120922476.180664
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50292237539578.875, tolerance: 43412146441.50094
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50444984609280.21, tolerance: 43293805770.25154
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50888862418650.22, tolerance: 43697972629.59347
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 49954409545599.445, tolerance: 43015871527.0884
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50747781943094.234, tolerance: 43569313041.19012
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50078161960143.26, tolerance: 43402330795.345055
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 49560438151592.02, tolerance: 43220380988.304565
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50070532851385.3, tolerance: 43112619422.80285
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 116186195870748.2, tolerance: 48125493559.93367
  model = cd_fast.enet_coordinate_descent(

Method: lasso
RMSE on training: 127325.4860
RMSE on 10-fold CV: 127541.2120


Method: ridge
RMSE on training: 127325.5280
RMSE on 10-fold CV: 127541.0704

C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 104428075467330.31, tolerance: 43280701050.52506
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 104067101224595.9, tolerance: 43120922476.180664
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 104129593488993.03, tolerance: 43412146441.50094
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 104806580638410.34, tolerance: 43293805770.25154
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 105049610713765.8, tolerance: 43697972629.59347
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 104444534014902.72, tolerance: 43015871527.0884
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 105147854975001.5, tolerance: 43569313041.19012
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 105152468164429.69, tolerance: 43402330795.345055
  model = cd_fast.enet_coordinate_descent(

Method: elastic-net
RMSE on training: 128921.2208
RMSE on 10-fold CV: 129094.6559

C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 104508172748319.0, tolerance: 43220380988.304565
  model = cd_fast.enet_coordinate_descent(
C:\Users\ashay\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 103801019009923.42, tolerance: 43112619422.80285
  model = cd_fast.enet_coordinate_descent(